.product-page__header {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 15px 30px;
}

.product-page__header-title {
    font-size: 30px;
}

.product-page__add-button button {
    font-size: 20px;
    padding: 10px 10px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
}

.product-page {
    width: 30%;
    display: block;
}
