.product-page__header {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 15px 30px;
}

.product-page__header-title {
    font-size: 30px;
}

.product-page__add-button button {
    font-size: 20px;
    padding: 10px 10px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
}

.product-page__search-form {
    width: 30%;
}
.search-form {
    display: flex;
    flex-direction: column;
}
.search-form input {
    border-radius: 30px;
    border: 1px solid #a9a9a9;
    font-size: 16px;
    width: 50%;
    height: 40px;
    padding: 3px 3px 3px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-form button {
    width: 50%;
    height: 40px;
    text-align: center;
    background-color: #ffd700;
    border: 1px solid #ffd700;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.sort-form__header {
    font-size: 24px;
}
.sort-form__select {
    width: 50%;
    height: 40px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 3px 3px 3px;
    margin-bottom: 20px;
}
.sort-tags {
    width: 50%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #ffd700;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.sort-tags button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ffd700;
    background-color: transparent;
    color: #ffd700;
    margin: 3px 10px 3px 10px;
    padding: auto;
}
