.product-page__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.product-page__header-title {
    font-size: 30px;
}

.product-page__header-button a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
    margin-right: 80px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.product-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-page__search-form {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 10px 30px;
}

.search-form input {
    border-radius: 30px;
    border: 1px solid #a9a9a9;
    font-size: 16px;
    width: 80%;
    height: 40px;
    padding: 3px 3px 3px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-form button {
    width: 80%;
    height: 40px;
    text-align: center;
    background-color: #ffd700;
    border: 1px solid #ffd700;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.sort-form__header {
    font-size: 24px;
}
.sort-form__select {
    width: 80%;
    height: 40px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 3px 3px 3px;
    margin-bottom: 20px;
}
.sort-tags {
    width: 50%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #ffd700;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.sort-tags__hight,
.sort-tags__low {
    margin-left: 10px;
    margin-top: 5px;
}

.sort-tags button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ffd700;
    background-color: transparent;
    color: #ffd700;
    margin: 3px 10px 3px 10px;
    padding: auto;
}

.product-page__list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: 30%;
    height: 40%;
    border: 1px solid #a9a9a9;
    display: inline-block;
    padding: 0;
}
.product-card li {
    list-style-type: none;
}

.product-link {
    text-decoration-line: none;
    color: black;
}

.product-img {
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
}

.product-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-tag__name {
    font-size: 20px;
    padding: 10px 10px;
}
.product-tag__price {
    font-size: 20px;
    padding: 10px 10px;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
  }