.detail-page {
    width: 100vw;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.product-content {
    position: relative;
    display: flex;
    width: 100%;
}

.alert--success {
    position: absolute;
    right: 20px;
    background-color: rgb(221, 255, 171);
    border: 1px solid greenyellow;
    padding: 10px;
    border-radius: 5px;
    color: green;
    font-size: 16px;
}

.content-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.breadcrumb {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    font-size: 14px;
    position: absolute;
    left: 20%;
    top: 5px;
}

.product-content__image {
    width: 50%;
    position: absolute;
    left: 20%;
    top:30px;
}

.product-content__image img {
    width:380px;
    height: 270px;
    margin: 30px 20px 20px 0;
}

.product-content__image-label {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #dcdcdc;
    margin-right: 5px;
    margin-top: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.product-content__image input {
    display: none;
}

.product-content__detail {
    width: 45%;
    position: absolute;
    left: 55%;
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
    top:30px;
}

.product-content__detail input {
    width: 50%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.detail-label {
    font-size: 22px;
    margin-bottom: 5px;
    text-align: left;
}
.checkbox-group {
    display: flex;
    gap: 10px;
    width: 80%;
    justify-content: left;
    padding: auto;
    font-size: 18px;
}

.checkbox-group input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: black;
}

.product-description {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    left: 20%;
    top: 390px;
}

.product-description textarea {
    width: 72%;
    font-size: 18px;
    padding: 10px 5px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.detail-page__button {
    justify-content: center;
    position: absolute;
    top: 600px;
}

.return-button {
    text-decoration: none;
    color: black;
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    border-radius: 5px;
    width: 160px; /* 同じ幅 */
    height: 45px;
    margin-top: 20px;
    margin-right: 5px;
    font-size: 18px;
    text-align: center;
    padding: 10px 50px;
}

.update-button {
    border: 1px solid #ffd700;
    background-color: #ffd700;
    border-radius: 5px;
    width: 160px; /* 同じ幅 */
    height: 45px;
    margin-right: 5px;
    text-align: center;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
}

.delete-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 590px;
    right: 23%;
}

.custom-icon {
    font-size: 30px;
    color: red; 
    margin: 10px;
    padding-top: 15px;
}

.alert {
    color: red;
    font-size: 14px;
    text-align: left;

}
.alert li {
    list-style-type: none;
}
