.detail-page,
.detail-page__button {
    width: 60%;
    height: 100%;
    position: relative;
    top: 10%;
    left: 20%;
}

.product-content,
.detail-page__button {
    display: flex;
}

.product-content__image {
    width: 50%;
    height: 70%;
    margin: 3px;
    padding: auto;
}

.product-content__image img {
    width: 100%;
    height: 80%;
    margin-bottom: 5px;
    margin-right: 5px;
}

.product-content__image button {
    width: 30%;
    height: 20%;
    padding: auto;
    margin-top: 5px;
    border: 1px solid black;
    background-color: #dcdcdc;
    font-size: 20px;
}

.product-content__detail {
    margin: 0 0 10px 5px;
    font-size: 20px;
    width: 50%;
    height: 70%;
    padding: auto;
}

.product-content__detail input {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
}
.checkbox-group {
    display: flex; /* 子要素を横並びにする */
    gap: 10px; /* ボタン間の余白 */
    width: 80%; /* 横幅80% */
}

.checkbox-group input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: black;
    
}

.product-description {
    width: 100%;
    font-size: 20px;
}

.detail-page__button {
    justify-content: center;
}

.return-button {
    text-decoration: none;
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    border-radius: 5px;
    width: 20%;
    height: 40px;
    padding: auto;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
}
.update-button {
    border: 1px solid #ffd700;
    background-color: #ffd700;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: auto;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
}

.delete-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.custom-icon {
    font-size: 30px; /* アイコンのサイズを変更 */
    color: red; /* アイコンの色を変更 */
    margin: 10px; /* アイコンの余白を設定 */
}

.alert{
    color: red;
    font-size: 14px;
    text-align: left;
}
.alert li{
    list-style-type: none;
}