.detail-page {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding-bottom: 100px;
    padding-top: 100px;
}

.product-content,
.detail-page__button,
.product-description {
    width: 60%;
    height: 100%;
    position: relative;
    top: 10%;
    left: 20%;
    display: flex;
}

.product-content__image {
    width: 50%;
    height: 70%;
    margin: 3px;
    padding: auto;
}

.product-content__image img {
    width: 100%;
    height: 80%;
    margin-bottom: 5px;
    margin-right: 5px;
}

.product-content__image-label {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #dcdcdc;
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.product-content__image input {
    display: none;
}

.product-content__detail {
    padding-left: 40px;
    font-size: 20px;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.product-content__detail input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}
.checkbox-group {
    display: flex;
    gap: 10px;
    width: 80%;
    justify-content: left;
    padding: auto;
}

.checkbox-group input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: black;
}

.product-description {
    font-size: 20px;
    flex-direction: column;
}

.product-description textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px 5px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.detail-page__button {
    justify-content: center;
}

.return-button {
    text-decoration: none;
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    border-radius: 5px;
    width: 20%;
    height: 40px;
    margin-top: 20px;
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
    padding: 5px 0 5px 0;
}
.update-button {
    border: 1px solid #ffd700;
    background-color: #ffd700;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: auto;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
    padding: 5px 50px;
}

.delete-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.custom-icon {
    font-size: 30px; /* アイコンのサイズ*/
    color: red; /* アイコンの色 */
    margin: 10px; /* アイコンの余白 */
    padding-top: 15px;
}

.alert {
    color: red;
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
}
.alert li {
    list-style-type: none;
}
